@import "../fonts/index";
@import "mixins/index";
@import "init/index";
@import "typography/index";
@import "ui/index";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    font-size: 100%
}
a{
    cursor: pointer;    
}
.client-sign-up {
    max-width: 800px;
    margin: 0 auto;
    font-family: $title-light-font;

    input, select{
        background: #fff;
        line-height: 1.5rem;
        padding: .25rem .5rem;
        font-family: Montserrat;
        font-size: 1.25rem;
        color: #999;
    }
}
.message {    
    min-height: 100px;
    max-height: 400px;
    width: 100%;    
}
label{
    color: #999;    
    font-size: 1rem;
}
.mid-form-header{
    font-family: $title-font;
}
.signup-boxes{
    display: flex;
    flex-wrap: wrap;    
    .checkbox{
        width: 33%;
    }
    label{
        padding-left: 10px;
    }
}
.preferences{
    display: flex;
    flex-wrap: wrap;
}
.preferences-options{
    width: 50%;

    select{
        width: 100%;
    }
    label{
        display: block;
    }
}
.submit-form{
    max-width: 50%;
    input{
        border: 2px solid #222;
        color: #222;
        padding: 1rem;
    }
    input:hover{
        color: #00c8c8;
        border: 2px solid #00c8c8;
    }
}
.width-fill input, .width-fill select{
    width: 100%;
}
.privacy-policy{
    a{
        color: #00c8c8;
    }    
}
.help-area {
    .need-help-header, .help-number{
        color: #00c8c8;
        font-family: $title-bold-font;
    }
    span{
        color: #00c8c8;
    }    
}
footer{
    background: #f8f8f8;
    padding-top: 1.5rem;    
}
.footer-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    margin: 0 auto;

    a{
        color: #727272;
    }

    a:hover{
        color: #00c8c8;
    }
}
.footer-info-box{
    width: 50%;
    margin-bottom: 50px;
}
.footer-head{
    font-family: $title-bold-font;
    margin-bottom: 15px;
}
.footer-tags, .footer-contact-details{
    font-family: $title-light-font;
}
.footer-contact-details{
    line-height: 1;
    padding: 0;
    :nth-child(4){
        margin-bottom: 15px;
    }
    :nth-child(5){
        margin-bottom: 10px;
    }
}
.footer-tags{
    display: block;
    color: #333;
}
.footer-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    div{
        padding: 2rem 0 1.5rem 0;
        min-width: 300px;
        text-align: center;
        margin-right: 1rem;
    }
}
.award-winner-box {
    background: #222;
    color: #fff;
    font-size: $h2;
    
    h2{
        font-family: $title-bold-font;            
    }
    p{
        font-family: $title-light-font;
    }
}
.social-media-icons{
    background: #00c8c8;
    text-align: center;
    svg:hover{
        color: black;
    }
}
.social-media-icon-single{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: white;
}
.copyright{
    background: #333;
    color: #f8f8f89b;
    text-align: center;
    margin-bottom: 0;
    padding: 5px;    
}
@media(min-width:800px){
    .client-sign-up{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1.25rem;
        grid-template-areas:"reg reg" 
                            "first last" 
                            "email email" 
                            "pass confirm" 
                            "frequency phone" 
                            "terms terms" 
                            "message message" 
                            "signText signText" 
                            "signup signup" 
                            "prefText prefText" 
                            "pref pref" 
                            "submit privacy" 
                            "help help";
    }
    .form-header{
        grid-area: reg;
    }
    .firstname{
        grid-area: first;
    }
    .lastname{
        grid-area: last;
    }
    .email{
        grid-area: email;
    }
    .password{
        grid-area: pass;
    }
    .passwordconfirm{
        grid-area: confirm;
    }
    .frequency{
        grid-area: frequency;
    }
    .phone{
        grid-area: phone;
    }
    .terms{
        grid-area: terms;
    }
    .messagebox{
        grid-area: message;
    }
    .sign-up-header{
        grid-area: signText;
    }
    .signups{
        grid-area: signup;
    }
    .signup-boxes{
        display: flex;
        justify-content: space-around; 
    }
    .checkbox{
        width: inherit;
        display: inline-block;
        padding-left: .25rem;
    }
    .preferences-header{
        grid-area: prefText;
    }
    .preferences{
        display: flex;
        grid-area: pref;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .preferences-options{
        width: calc(50% - .75rem);
        margin: 1.125rem 0;
    }
    .submit-form{
        width: 100%;
        max-width: 350px;
        grid-area: submit;
        font-family: $title-font;
    }
    .privacy-policy {
        grid-area: privacy;
    }
    .help-area{
        grid-area: help;
    }
    .footer-info{
        width: 90%;
    }
    .footer-info-box{
        width: 25%;
    }
}
@media(min-width:1200px) {
    .page-header{
        background: linear-gradient(rgba(49, 49, 49, 0.725), rgba(49, 49, 49, 0.725)), url(../../img/large-header.webp) center center / cover no-repeat;
    }
    .title{
        color: #727272;
    }    
    .site-nav{
        display: flex;
        justify-content: space-between;

        li:hover{
            color: #00c8c8;
        }
    }
    .toggle-menu-icon{
        display: none;
    }
    .list-view{
        display: flex;

        li{
            margin: 0 1rem;              
        }
        a:active{
            color: #00e1ff;
        }
        a{
            color: #222222;
        }
    }    
    .footer-info {
        width: 80%;
        max-width: 1000px;
    }
    .footer-boxes {
        width: 80%;
        max-width: 1000px;
        margin-top: 1rem;
    }
    .award-winner-box, .social-media-icons{
        width: 45%;
    }
    .social-media-icon-single{
        width: calc(1rem + 1vw);
        max-width: 50px;
        height: calc(1rem + 1vw);
        max-height: 50px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .copyright{        
        p{
            width: 50%;
            text-align: center;
        }
    }
}