.upper-text{
    text-transform: uppercase;
}
.arrow-icon{
    width: 15px;
    color: #00c8c8;
    margin-left: 5px;
}
// .width-fill{
//     width: 100%;    
//     margin-bottom: 20px;
//     padding: 0 10px 0 10px;

// }
.width-fill input, .width-fill select, .message textarea {
    width: 100%
}
div{
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}