.site-nav {
    padding: 2rem 4rem 1.5rem 4rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;    
}
.icon-view {
    margin: 0;
    padding: 0;
}
.list-view {
    display: none;
    a:hover{
        color: #00c8c8;
        text-decoration: none;
    }
}
.toggle-menu-icon {
    width: 2rem;
}
.avenue-logo{
    font-size: 1.125rem;
    font-family: $title-font;

    span{
        color: #222222;
        font-family: $title-bold-font;
    }
}
.mobile-links {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;  
  }
  .mobile-link {
    padding: 0.5rem 0;
    align-self: center;
  }  
  .mobile-link a,
  .mobile-link a:link,
  .mobile-link a:visited,
  .mobile-link a:active {
    color: black;
    text-decoration: none;
  }  
  .mobile-link a:hover{
    color: #ccc;
  }  
  .menu-panel {
    position: fixed;
    display: block;
    width: 100%;
    top: -20rem;
    left: 0;
    padding: 2rem 0;
    background-color: white;
    z-index: 1;
  }
